<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examSystem.mapper.MenuMapper">
    <select id="selectAllByUserId" resultType="Menu">
        SELECT m.menu_id,
               m.menu_name,
               m.parent_id,
               m.type,
               m.state,
               m.perms,
               m.icon,
               m.create_by,
               m.create_time,
               m.update_by,
               m.update_time
        FROM `user`
                 LEFT JOIN `role_menu` rm ON `user`.role_id = rm.role_id
                 LEFT JOIN menu m ON rm.menu_id = m.menu_id
        WHERE user_id = #{userId};
    </select>
</mapper>